<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contrast</title>
    @Html.Partial("~/Views/_Styles.cshtml")
</head>
<body>

    @Html.Partial("_Header")

    @Html.Partial("_Footer")

    @Html.Partial("~/Views/_Scripts.cshtml")
    @RenderBody()
    @RenderSection("scripts", required: false)
</body>
</html>

@section Scripts
{

}