@model WebStore_Contrast.Models.ViewModels.Shop.BrandsVM

@{
    ViewBag.Title = Model.Name;
}

<h2>@Model.Name</h2>

<br />

<div class="row">
    <div class="col-sm-12 col-md-12">
        @Html.DisplayFor(model => model.Name)
    </div>
</div>

<div class="row">
    <div class="col-sm-12 col-md-12">
        @Html.DisplayFor(model => model.Short_desc)
    </div>
</div>

<div class="row">
    <div class="col-sm-12 col-md-12">
        @Html.DisplayFor(model => model.Meta_title)
    </div>
</div>

<div class="row">
    <div class="col-sm-12 col-md-12">
        @Html.DisplayFor(model => model.Meta_keywords)
    </div>
</div>

<div class="row">
    <div class="col-sm-12 col-md-12">
        @Html.DisplayFor(model => model.Meta_description)
    </div>
</div>

<div class="row">
    <div class="col-sm-12 col-md-5">
        <img src="/Images/Uploads/Brands/@Model.Id/Thumbs/@Model.ImageName" />
    </div>
</div>

<div class="row">
    <div class="col-sm-12 col-md-12">
        @Html.TextAreaFor(model => model.Body)
    </div>
</div>

@section Scripts
{
    <link href="~/Content/jquery.fancybox.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.fancybox.js"></script>
}